body {
  font-family: "Work Sans", serif;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  color: black !important;
}
.title {
  font-family: "Work Sans", serif;
  margin: 0 auto;
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 40px;
}
.love {
  font-family: "Work Sans", serif;
  background-color: white;
  position: absolute;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 68%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px; /* Need a specific value to work */
  padding: 10px;
  border-radius: 5px;
}
.roulette {
  font-family: "Work Sans", serif;
  overflow: hidden;
  position: relative;
  z-index: 1;
  font-size: 1em;
  width: 50em;
  height: 50em;
  //   top: 50%;
  //   left: 50%;
  //   margin-top: -25em;
  //   margin-left: -25em;
  border-radius: 50%;
  .spinner {
    width: 50em;
    height: 50em;
    position: relative;
    -webkit-transition: -webkit-transform 2.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    transition: -webkit-transform 2.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    transition: transform 2.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    transition: transform 2.5s cubic-bezier(0, 0.4, 0.4, 1.025), -webkit-transform 2.5s cubic-bezier(0, 0.4, 0.4, 1.025);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 25em 25em;
    transform-origin: 25em 25em;
  }
  .spinner.index-0 {
    -webkit-transform: rotate(5714.25deg);
    transform: rotate(5714.25deg);
  }
  .spinner.spin.index-0 {
    -webkit-transform: rotate(2834.25deg);
    transform: rotate(2834.25deg);
  }
  .spinner.index-0 .triangle:nth-of-type(1) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-1 {
    -webkit-transform: rotate(5684.25deg);
    transform: rotate(5684.25deg);
  }
  .spinner.spin.index-1 {
    -webkit-transform: rotate(2804.25deg);
    transform: rotate(2804.25deg);
  }
  .spinner.index-1 .triangle:nth-of-type(2) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-2 {
    -webkit-transform: rotate(5654.25deg);
    transform: rotate(5654.25deg);
  }
  .spinner.spin.index-2 {
    -webkit-transform: rotate(2774.25deg);
    transform: rotate(2774.25deg);
  }
  .spinner.index-2 .triangle:nth-of-type(3) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-3 {
    -webkit-transform: rotate(5624.25deg);
    transform: rotate(5624.25deg);
  }
  .spinner.spin.index-3 {
    -webkit-transform: rotate(2744.25deg);
    transform: rotate(2744.25deg);
  }
  .spinner.index-3 .triangle:nth-of-type(4) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-4 {
    -webkit-transform: rotate(5594.25deg);
    transform: rotate(5594.25deg);
  }
  .spinner.spin.index-4 {
    -webkit-transform: rotate(2714.25deg);
    transform: rotate(2714.25deg);
  }
  .spinner.index-4 .triangle:nth-of-type(5) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-5 {
    -webkit-transform: rotate(5564.25deg);
    transform: rotate(5564.25deg);
  }
  .spinner.spin.index-5 {
    -webkit-transform: rotate(2684.25deg);
    transform: rotate(2684.25deg);
  }
  .spinner.index-5 .triangle:nth-of-type(6) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-6 {
    -webkit-transform: rotate(5534.25deg);
    transform: rotate(5534.25deg);
  }
  .spinner.spin.index-6 {
    -webkit-transform: rotate(2654.25deg);
    transform: rotate(2654.25deg);
  }
  .spinner.index-6 .triangle:nth-of-type(7) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-7 {
    -webkit-transform: rotate(5504.25deg);
    transform: rotate(5504.25deg);
  }
  .spinner.spin.index-7 {
    -webkit-transform: rotate(2624.25deg);
    transform: rotate(2624.25deg);
  }
  .spinner.index-7 .triangle:nth-of-type(8) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-8 {
    -webkit-transform: rotate(5474.25deg);
    transform: rotate(5474.25deg);
  }
  .spinner.spin.index-8 {
    -webkit-transform: rotate(2594.25deg);
    transform: rotate(2594.25deg);
  }
  .spinner.index-8 .triangle:nth-of-type(9) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-9 {
    -webkit-transform: rotate(5444.25deg);
    transform: rotate(5444.25deg);
  }
  .spinner.spin.index-9 {
    -webkit-transform: rotate(2564.25deg);
    transform: rotate(2564.25deg);
  }
  .spinner.index-9 .triangle:nth-of-type(10) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-10 {
    -webkit-transform: rotate(5414.25deg);
    transform: rotate(5414.25deg);
  }
  .spinner.spin.index-10 {
    -webkit-transform: rotate(2534.25deg);
    transform: rotate(2534.25deg);
  }
  .spinner.index-10 .triangle:nth-of-type(11) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .spinner.index-11 {
    -webkit-transform: rotate(5384.25deg);
    transform: rotate(5384.25deg);
  }
  .spinner.spin.index-11 {
    -webkit-transform: rotate(2504.25deg);
    transform: rotate(2504.25deg);
  }
  .spinner.index-11 .triangle:nth-of-type(12) .text {
    /*opacity: 1;*/
    -webkit-transition: all 0.6s 2.5s;
    transition: all 0.6s 2.5s;
  }
  .triangle {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -25em;
    left: 25em;
    -webkit-transform-origin: 0% 50em;
    transform-origin: 0% 50em;
    border: 0 solid transparent;
    border-top-width: 50.125em;
    border-right-width: 28.86751em;
  }
  .triangle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .triangle:nth-of-type(1) {
    -webkit-transform: rotate(30deg) scale(2);
    transform: rotate(30deg) scale(2);
    // color: #dc0936;
    // border-top-color: #dc0936;
    background: #dc0936;
    z-index: 11;
  }
  .triangle:nth-of-type(2) {
    -webkit-transform: rotate(60deg) scale(2);
    transform: rotate(60deg) scale(2);
    // color: #e5177b;
    // border-top-color: #e5177b;
    background: #e5177b;
    z-index: 10;
  }
  .triangle:nth-of-type(3) {
    -webkit-transform: rotate(90deg) scale(2);
    transform: rotate(90deg) scale(2);
    // color: #be107f;
    // border-top-color: #be107f;
    background: #be107f;
    z-index: 9;
  }
  .triangle:nth-of-type(4) {
    -webkit-transform: rotate(120deg) scale(2);
    transform: rotate(120deg) scale(2);
    // color: #881f7e;
    // border-top-color: #881f7e;
    background: #881f7e;
    z-index: 8;
  }
  .triangle:nth-of-type(5) {
    -webkit-transform: rotate(150deg) scale(2);
    transform: rotate(150deg) scale(2);
    // color: #3f297e;
    // border-top-color: #3f297e;
    background: #3f297e;
    z-index: 7;
  }
  .triangle:nth-of-type(6) {
    -webkit-transform: rotate(180deg) scale(2);
    transform: rotate(180deg) scale(2);
    // color: #1d61ac;
    // border-top-color: #1d61ac;
    background: #1d61ac;
    z-index: 6;
  }
  .triangle:nth-of-type(7) {
    -webkit-transform: rotate(210deg) scale(2);
    transform: rotate(210deg) scale(2);
    // color: #169ed8;
    // border-top-color: #169ed8;
    background: #169ed8;
    z-index: 5;
  }
  .triangle:nth-of-type(8) {
    -webkit-transform: rotate(240deg) scale(2);
    transform: rotate(240deg) scale(2);
    // color: #209b6c;
    // border-top-color: #209b6c;
    background: #209b6c;
    z-index: 4;
  }
  .triangle:nth-of-type(9) {
    -webkit-transform: rotate(270deg) scale(2);
    transform: rotate(270deg) scale(2);
    // color: #60b236;
    // border-top-color: #60b236;
    background: #60b236;
    z-index: 3;
  }
  .triangle:nth-of-type(10) {
    -webkit-transform: rotate(300deg) scale(2);
    transform: rotate(300deg) scale(2);
    // color: #efe61f;
    // border-top-color: #efe61f;
    background: #efe61f;
    z-index: 2;
  }
  .triangle:nth-of-type(11) {
    -webkit-transform: rotate(330deg) scale(2);
    transform: rotate(330deg) scale(2);
    // color: #f7a416;
    // border-top-color: #f7a416;
    background: #f7a416;
    z-index: 1;
  }
  .triangle:nth-of-type(12) {
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
    // color: #e6471d;
    // border-top-color: #e6471d;
    background: #e6471d;
    z-index: 0;
  }
  .triangle .text {
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 8em;
    height: 8em;
    // line-height: 2em;
    border-radius: 100%;
    background: #fff;
    -webkit-transform: rotate(15deg) translateY(-16em) translateX(-3em);
    transform: rotate(15deg) translateY(-16em) translateX(-3em);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    text-align: center;
    font-weight: 800;
    font-size: 0.7em;
    // opacity: 0;
    -webkit-transition: all 0 0;
    transition: all 0 0;
  }
  .triangle .text i {
    font-size: 2em;
    line-height: 0.7;
    vertical-align: middle;
    display: inline-block;
  }

  .button {
    display: block;
    text-align: center;
    font-weight: 800;
    background: white;
    position: absolute;
    z-index: 999;
    border-radius: 100%;
    border: none;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    // color: #999;
    cursor: pointer;
    letter-spacing: -0.05em;
  }

  .button:hover,
  .button:active {
    color: #333;
  }

  .button-spin {
    width: 10em;
    height: 10em;
    line-height: 10em;
    top: 50%;
    left: 50%;
    margin-left: -5em;
    margin-top: -5em;
    font-weight: 800;
    z-index: 998;
  }

  .button-spin:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  .button-spin span {
    font-size: 1.6em;
  }

  h1 {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.4em;
    margin: 0;
    white-space: pre;
    z-index: 999;
    // color: #fff;
    font-weight: 800;
    line-height: 0.9;
    text-transform: uppercase;
  }
}
